body{
    background-image: url(profile_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
    font-family:'segoe UI', sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
}

.profile-card{
    background: #fff;
    padding:30px;
    border-radius:15px;
    box-shadow :0 8px 20px gray;
    text-align:center;
    width:300px;
}

.profile-img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

.title{
    color:#888;
    font-size:1rem;
    margin:5px 0;
}

a{

    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background-color: #0077ff;
    color:white;
    text-decoration:none;
    border-radius:15px;
    transition:0.3 ease;
}

a:hover{
    background-color: #005dd0;
}

