
.header{
    background-color: #f9f9f9;
    color:blue;
    padding:50px 30px;
    border-bottom: 2px solid lightblue;
    border-radius: 7px;
    font-family: arial;
    margin:30px auto;
    text-align:center;
    box-shadow:6px 4px 7px rgb(30, 34, 36); 
   
}
.highlights{
    color:black;
    font-weight:bold;
    font-size:14px;
}

.clicking{
         color:white;
         font-weight: bold;
         font-family:monospace;
         
}

.important{
    color:chocolate;
    font-family: Arial;
    font-weight: inherit;
}

#page-title{
    color:black;
    font-family:  'Arial Narrow Bold', sans-serif;
}

 .thematic{
    width: 100%;
    background-color:#333;
    padding:30px 10px;
    border-radius:3px solid white;
    color:white;
    border-bottom: #f9f9f9;
}

.information{
    width: 100%;
    background-color:#333;
    padding:30px 10px;
    border-radius:3px solid white;
    color:white;
    border-bottom: #f9f9f9;
}
header nav ul li a:hover{
    color:black;
    
}

.clicking:hover{
    color:darkslategray;
}
main{
    width: 80%;
    margin:20% auto;
    padding:50px;
    background-color:#f9f9f9;
    border-radius:6px;
    box-shadow: 6px -5px 8px gray;
    font-family:impact;
    font-size:20px;
    color:#333;
}

footer{
    background-color:#222;
    color:white;
    text-align:center;
    font-size:14px;
    font-family:Arial,sans-serif;
    box-shadow:-3px -4px 7px gray;
    border-radius:3px;
}

.tooltip{
    position:relative;
    display:inline-block;
    cursor:pointer;
}

.tooltip
.tooltip-text{
    visibility:hidden;
    width:140px;
    background-color:blue;
    color:yellow;
    text-align:center;
    border-radius:6px;
    padding:5px;
    position:absolute;
    z-index:1;
    bottom:125%;
    left:50%;
    margin-left:-70px;
    opacity: 0;
    transition:opacity o.3s;
}

.tooltip:hover .tooltip-text{
    visibility:visible;
    opacity:1;
}

form{
    max-width:400px;
    margin:50px auto;
    padding:20px;
    background-color:#f9f9f9;
    border-radius: 8px;
    box-shadow: 3px -4px 5px gray;

}

.indication{
    display:block;
    margin-bottom:5px;
    font-weight:bold
}

input[type="name"],
input[type="email"],
input[type="Number"]{
    width:100%
}

.character{
    background-color:brown;
    padding:40px 20px;
    margin:20px;
    border-radius:5px;
    border-bottom:2px solid lightblue;
    box-shadow: -2px 4px 7px gray;
    text-align:center;
    color:#f9f9f9;
}
input[type="submit"]:hover{
    background-color:#0056b3;
}

input[type="submit"]{
    background-color: #007BFF;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    transition: background-color 0.3s;
    box-shadow:2px 1px 3px gray;
}